.owl-carousel {
  position: relative;
  padding-bottom: 70px;

  .item {
    padding: 0 18px;
  }

  .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: -100px;
    right: -100px;
    top: 36%;
    pointer-events: none;
    z-index: 10;


    .owl-prev,
    .owl-next {
      height: 3px;
      width: 121px;
      margin: 6px;
      position: relative;
      pointer-events: all;
      text-indent: -999rem;
      -webkit-transition: .45s;
      transition: .45s;

      &:before,
      &:after {
        content: "";
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        background: $gray-100;
      }

      &:hover:before,
      &:hover:after {
        background: $primary-color;
      }

      &:before {
        left: 0;
        transform: skew(0deg, 15deg);
      }

      &:after {
        right: 0;
        transform: skew(0deg, -15deg);
      }
    }

    .owl-next {
      transform: rotate(-90deg);
    }

    .owl-prev {
      transform: rotate(90deg);
    }

  }

  .owl-dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -3px;

    .owl-dot span {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #d7dbe4;
      margin-right: 20px;

      &:hover {
        background: $primary-color;
      }
    }

    .owl-dot.active span {
      background: $primary-color;
    }
  }
}


//==========RESPONSIVE==========================

@include respond-to($lg) {
  .owl-nav {
    top: 18%;
  }
  .owl-dots {
    display: none;
  }
}