.owl-carousel {
  position: relative;
  padding-bottom: 70px;
  .card-wrap {
  }

  .item {
    //color: $dirty;
    padding: 0 18px;
  }

  .owl-dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -16px;
    .owl-dot span {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #d7dbe4;
      margin-right: 20px;
      &:hover {
        background: $primary-color;
      }
    }

    .owl-dot.active span {
      background: $primary-color;
    }
  }
}

.owl-nav {
   .owl-next,
  .owl-prev {
    &:hover {
      background-color: $primary-color;
    }
  }
}


@include respond-to($md) {
  .owl-nav {
    top: 18%;
  }
  .owl-dots {
    display: none;
  }
}