.btn {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0 1.25rem 3.75rem rgba(5, 176, 254, 0.4);
  border-radius: 0.625rem;
  background-color: $primary-color;
  border: none;
  color: $white;
  padding: 0.8125rem 2.375rem 0.625rem 2.0625rem;
  min-width: 11.3rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: box-shadow 6s;

  &--md {
    padding: 1.5625rem 1.3125rem 1.5625rem 1.5625rem;
    margin-left: 0.5rem;
    font-size: 1.125rem;
    min-width: 20rem;
    letter-spacing: 1.85px;
  }

  &--big {
    min-width: 23.125rem;
    font-size: 1.125rem;
    padding: 1.5625rem 1.6875rem 1.625rem 2rem;
    letter-spacing: 1.3px;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: -50%;
    right: -50%;
    height: 0;
    padding-bottom: 200%;
    background: darken($primary-color, 1%);
    mix-blend-mode: color-burn;
    top: 0;
    z-index: -1;
    border-radius: 14.375rem;
    transition: transform 2.5s, background 6s;
  }

  &:after {
    transform: translate3d(-5%,6em,0) rotate(-45deg);
  }

  &:before {
    transform: translate3d(5%,6em,0) rotate(0deg);
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 50px -5px darken($primary-color, 20%);

    &:before,
    &:after {
      transform: translate3d(0,-5em,0) rotate(180deg);
      background: darken($primary-color, 20%);
    }
  }
}
