.section-actions {
  background-image: url(../assets/img/wave7.svg),
  url(../assets/img/wave4.svg),
  url(../assets/img/waves.svg);
  background-position: 3% -6.5%, right 6.5% bottom 75%, -7% bottom;
  background-repeat: no-repeat;
  background-size: 30.5rem 40.1875rem, 46rem 46.625rem, 42% 50%;
  background-color: $light-gray;
  padding-bottom: 150px;

  .section__header {
    margin-bottom: 8.85rem;
  }

  .action__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../assets/img/line@2x.svg);
    background-position: left 18% top 40%;
    background-repeat: no-repeat;
    background-size: 85% 89%;
    margin-bottom: 1.875rem;
    &_item {
      max-width: 23.6875rem;
      padding: 0 0 0 4.6rem;
      margin-bottom: 4.15rem;
    }
  }

  .card__heading {
    position: relative;
    padding-top: 3.89rem;
  }

  .card__title {
    position: relative;
    margin-bottom: 1.875rem;
  }

  .card__text {
    position: relative;
    color: $gray-blue;
  }

  .count {
    position: absolute;
    color: $gray;
    font-family: $secondary-fonts;
    font-size: 9.4375rem;
    letter-spacing: 0.8888rem;
    z-index: 0;
    top: -30%;
    left: -16%;
  }

  .wrap_btn {
    text-align: center;
    margin-bottom: 5.625rem;
  }

  .block-reviews {
    padding-top: 5.7rem;
  }

  .item-review {
    &__heading {
      margin-bottom: 1.875rem;
    }

    &__text {
      color: $gray-blue;
      line-height: 1.5;
    }
  }

  .section__title {
    position: relative;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 5.9375rem;

    &:after {
      position: absolute;
      content: '';
      background-color: $primary-color;
      display: block;
      width: 7.5rem;
      height: 0.3125rem;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      z-index: 1;
    }
  }
}

@include respond-to($lg) {
  .section-actions {

  }
}

@include respond-to($md) {
  .section-actions {
    .section__header {
      margin-bottom: 6.85rem;
    }

    .action__list_item {
      width: 50%;
    }
    .block-reviews {
      padding-top: 0.125rem;
    }


    .action__list_item:nth-child(3) {
      order: 5;
    }
    .action__list_item:nth-child(2) {
          order: 3;
        }
    //.action__list_item:nth-child(4) {
    //  order: 6;
    //}
  }
}

@include respond-to($sm){
  .section-actions{
    .action__list_item{
      width: 100%;
      margin-bottom: 3.75rem;
    }
  }
}