.section-about {
  position: relative;
  background-color: $light-gray;
  padding-top: 7.63rem;


  .bg-block-video {
    background-image: url(../assets/img/wave.svg);
    background-position: center 0;
    background-size: contain;

    //background-image: url(../assets/img/bg-video.png);
    //background-position: 0 -300px;
    //background-size: cover;
    background-repeat: no-repeat;
    min-height: 48rem;
  }

  .container-video {
    position: relative;
    margin-bottom: 9.375rem;
  }

  .block-text-decor {
    position: absolute;
    color: $white;
    font-family: $secondary-fonts;
    font-size: 13.5rem;
    text-transform: uppercase;
    letter-spacing: 20.25px;
    transform: rotate(-90deg);
    line-height: 1;
    z-index: 0;

    &--left {
      left: -6%;
      top: 24.5%;
    }

    &--right {
      top: 31%;
      right: -5%;
    }
  }

  .section__title {
    max-width: 43.6875rem;
    margin-bottom: 1.8125rem;
  }

  .section__sup-title {
    //padding-top: 2.999rem;
  }

  .container {
    padding-top: 3rem;
  }

  .section__sup-title {
    margin-bottom: 6rem;
  }

  .bg-reasons-block {
    background-image: url(../assets/img/wave2.svg), url(../assets/img/wave3.svg);
    background-position: -26% 102% , right -35% bottom -55%;
    background-size: 50% 120%, 70% 70%;
    background-repeat: no-repeat;
    padding-bottom: 12.5rem;
  }

  .reasons__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.45rem;

    &_item {
      width: 39%;
      max-width: 31.375rem;
      margin-bottom: 5rem;
    }

  }

  .card {
    display: flex;

    &__wrap_icon {
      padding-top: 0.3125rem;
    }

    &__content {
      padding-left: 1.8125rem;

    }

    &__title {
      margin-bottom: 1.375rem;
    }
  }

  .bg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    height: 4.375rem;
    border-radius: 0.625rem;
    background-color: $white;
  }

  .img-card {
    width: 1.875rem;
    height: 1.875rem;
  }

  .wrap_btn {
    text-align: center;
  }
}

//=================RESPONSIVE============

@include respond-to($lg) {
  .section-about {
    background-position: -6.875rem center, right bottom;
    background-size: 50% 50%;
    padding-top: 5.5rem;
    padding-bottom: 7.5rem;

    .container-video {
      width: 80%;
    }

    iframe.video {
      width: 100%;
    }

    .block-text-decor {
      font-size: 10.5rem;

      &--right {
        top: 29%;
        right: -88%;
      }

      &--left {
        left: -28%;
        top: 24%;
      }
    }
  }
}

@include respond-to($md) {
  .section-about {
    margin-bottom: 6.375rem;

    .action__list {
      justify-content: space-between;

      &_item {
        max-width: 19.375rem;
        padding: 0 1.875rem;
      }
    }

    .bg-block-video {
      min-height: 28rem;
    }

    .bg-reasons-block {
      padding-bottom: 1.5rem;
    }

    .reasons__list_item {
      width: 100%;
    }

    .block-text-decor {
      font-size: 4.5em;

      &--left {
        left: -17%;
        top: 16%;
      }

      &--right {
        top: 17%;
        right: -17%;

      }
    }
  }
}