.section-intro {
  position: relative;
  background-image: url(../assets/img/waves.svg), url(../assets/img/waves2.svg);
  background-position: -9px bottom ,right 2.9375rem top -6.8125rem;
  background-size: 39.1875rem 49.5rem, 37.5rem 35.5625rem;
  background-repeat: no-repeat, no-repeat;
  min-height: 50.625rem;
  background-color: $white;
  color: $dark;
  padding-top: 6.25rem;
  padding-bottom: 8.5625rem;

  &__heading {
    position: relative;
    max-width: 71.25rem;
    margin-bottom: 3.25rem;
    margin-left: 11.3125rem;
  }

  .subtitle {
    display: block;
    font-family: $secondary-fonts;
    margin-bottom: -3px;
    margin-right: 2.3rem;
    text-align: right;
    letter-spacing: 0.28125rem;
  }

  .img-title {
    width: 100%;
    height: auto;
  }

  .block-text-decor {
    position: absolute;
    color: $light-gray;
    font-family: $secondary-fonts;
    font-size: 25rem;
    z-index: 0;
    right: -10.999rem;
    top: -3.4375rem;
    letter-spacing: 2.24rem;
  }

  &__content {
    max-width: 44.8125rem;
    padding-bottom: 3.3rem;
    padding-left: 0.625rem;
  }

  .text {
    &_xl {
      line-height: 1.2;
    }
    margin-bottom: 1.95rem;
    &_gray {
      line-height: 1.7;
    }
  }

  .img-btn-decor {
    position: absolute;
    left: 18.199rem;
    top: -1.42rem;
    max-width: 4.9375rem;
    height: auto;
    display: block;
    z-index: 2;
  }

  .wrap_btn {
    position: relative;
  }


  .down {
    position: absolute;
    right: 5.125rem;
    bottom: 8.5625rem;
    display: flex;
    flex-direction: row;
  }

  .arrow_text {
    color: $gray-blue;
    writing-mode: vertical-rl;
    letter-spacing: 0.084375rem;
  }

  .wrap_arrow {
    position: relative;
    width: 1.625rem;
    margin-left: 1.0625rem;

    &:before,
    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 0.125rem;
      height: 1.125rem;
      background-color: #a8afc1;
      z-index: 1;
      bottom: -0.125rem;
    }

    &:before {
      transform: rotate(-45deg);
      left: 0.3125rem;
    }

    &:after {
      transform: rotate(45deg);
      right: 0.3125rem;
    }

    .arrow {
      margin: 0 auto;
      width: 0.125rem;
      height: 13.875rem;
      background-color: #a8afc1;

    }

  }
}
//=================RESPONSIVE============


@include respond-to($lg) {
  .section-intro {
    .block-text-decor {
      font-size: 16.5625rem;
      right: -5.25rem;
      top: 2rem;
      letter-spacing: 0.7575rem;
    }
    &__heading {
       margin-left: 4.3125rem;
    }
  }
}

@include respond-to($md) {
  .section-intro {
    padding-bottom: 7.5625rem;
    .down {
      right: 1.3125rem;
    }
    .text {
      width: 85%;
    }
  }
}