html {
  font: 400 16px/1.25 $primary-fonts;
}

.wrapper {
  padding-top: 9.375rem;
  overflow: hidden;
}

.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}


@include respond-to($lg) {
  .wrapper {
    padding-top: 5rem;
  }
}
