html {
  font: 400 16px/1.25 $primary-fonts;
}

.wrapper {
  padding-top: 9.375rem;
  overflow: hidden;
}

@include respond-to($lg) {
  .wrapper {
    padding-top: 5rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

