/**
*TEXT UTILITIES
*/

.text {
  &_md {
    font-size: 1.125rem;
    //  18px
  }

  &_xl {
    font-size: 1.875rem;
    //  30px
  }

  &_primary {
    color: $primary-color;
  }

  &_gray {
    color: $gray-blue;
  }

  &_uppercase {
    text-transform: uppercase;
  }
}

.heading {

  &_sm {
    font-size: 1.125rem;
  }
  &_md {
    font-size: 2.25rem;
  }

  &_xl {
    font-size: 3rem;
  }
}

//=======RESPONSIVE==========

@include respond-to($md){
  .heading {
    &_md {
      font-size: 2rem;
    }
    &_xl {
      font-size: 2.6rem;
    }
  }
}

@include respond-to($sm){
  .text{
    &_xl{
      font-size: 1.65rem;
    }
  }
  .heading_md {
    font-size: 1.75rem;
  }

  .heading_xl{
    font-size: 2rem;
  }
}