/*
* Fonts
*/
$primary-fonts: 'Gilroy', sans-serif;
$secondary-fonts:'Gilroy Black', sans-serif;

/*
* Colors
*/

$primary-color: #05b0fe;
$white: #fff;
$dark: #383838;
$light-gray: #f5f6fa;
$gray-blue: #8693a6;
$gray: #e8ebf3;
$gray-100: #e7e9ee;


/*
* Breakpoints
*/

$xs: '(max-width: 576px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 991px)';
$lg: '(max-width: 1199px)';
$xl: '(min-width: 1400px)';
